# Creator/Build Options
###############################
INSTALL_PACKAGE_TYPE=0
INSTALL_PACKAGE_NAME="rocm-offline-install.run"
INSTALL_PACKAGE_DIR="$HOME"

INSTALL_PACKAGE_REPO=0

DOWNLOAD_PKG_CONFIG_NUM=0

# ROCm Options
###############################
ROCM_USECASES=dkms
ROCM_VERSIONS=6.2

# Driver/amdgpu Options
###############################
AMDGPU_INSTALL_DRIVER=yes
AMDGPU_POST_INSTALL_VIDEO_RENDER_GRP=no
AMDGPU_POST_INSTALL_BLACKLIST=no
AMDGPU_POST_INSTALL_START=no

# Extra Package Options
###############################
EXTRA_PACKAGES_ONLY=no
EXTRA_PACKAGES=""

