{% set Ubuntu_2204_Package_Installation = 'sudo apt install "linux-headers-$(uname -r)" "linux-modules-extra-$(uname -r)" 
# See prerequisites. Adding current user to Video and Render groups 
sudo usermod -a -G render,video $LOGNAME 
wget https://repo.radeon.com/amdgpu-install/latest/ubuntu/jammy/amdgpu-install_5.7.50700-1_all.deb 
sudo apt install ./amdgpu-install_5.7.50700-1_all.deb 
sudo apt update 
sudo apt install amdgpu-dkms 
sudo apt install rocm-hip-libraries 
echo Please reboot system for all settings to take effect.' %}

{% set Ubuntu_2204_Script_Installation = "sudo apt update 
wget https://repo.radeon.com/amdgpu-install/5.7/ubuntu/jammy/amdgpu-install_5.7.50700-1_all.deb 
sudo apt install ./amdgpu-install_5.7.50700-1_all.deb 
sudo amdgpu-install --usecase=graphics,rocm"%}

{% set Ubuntu_2004_Package_Installation = 'sudo apt install "linux-headers-$(uname -r)" "linux-modules-extra-$(uname -r)" 
# See prerequisites. Adding current user to Video and Render groups 
sudo usermod -a -G render,video $LOGNAME 
wget https://repo.radeon.com/amdgpu-install/latest/ubuntu/focal/amdgpu-install_5.7.50700-1_all.deb 
sudo apt install ./amdgpu-install_5.7.50700-1_all.deb 
sudo apt update 
sudo apt install amdgpu-dkms 
sudo apt install rocm-hip-libraries 
echo Please reboot system for all settings to take effect'%}

{% set Ubuntu_2004_Script_Installation = "sudo apt update 
wget https://repo.radeon.com/amdgpu-install/5.7/ubuntu/focal/amdgpu-install_5.7.50700-1_all.deb 
sudo apt install ./amdgpu-install_5.7.50700-1_all.deb 
sudo amdgpu-install --usecase=graphics,rocm "%}

{% set RHEL_92_Package_Installation = 'wget https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm 
sudo rpm -ivh epel-release-latest-9.noarch.rpm 
sudo crb enable 
sudo yum install kernel-headers kernel-devel 
# See prerequisites. Adding current user to Video and Render groups 
sudo usermod -a -G render,video $LOGNAME 
sudo yum install https://repo.radeon.com/amdgpu-install/latest/rhel/9.2/amdgpu-install-5.7.50700-1.el9.noarch.rpm 
sudo yum clean all 
sudo yum install amdgpu-dkms 
sudo yum install rocm-hip-libraries 
echo Please reboot system for all settings to take effect.'%}

{% set RHEL_92_Script_Installation = "sudo yum install https://repo.radeon.com/amdgpu-install/5.7/rhel/9.2/amdgpu-install-5.7.50700-1.el9.noarch.rpm 
sudo amdgpu-install --usecase=graphics,rocm"%}

{% set RHEL_91_Package_Installation = 'wget https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm 
sudo rpm -ivh epel-release-latest-9.noarch.rpm 
sudo crb enable 
sudo yum install kernel-headers kernel-devel 
# See prerequisites. Adding current user to Video and Render groups 
sudo usermod -a -G render,video $LOGNAME 
sudo yum install https://repo.radeon.com/amdgpu-install/latest/rhel/9.1/amdgpu-install-5.7.50700-1.el9.noarch.rpm 
sudo yum clean all 
sudo yum install amdgpu-dkms 
sudo yum install rocm-hip-libraries 
echo Please reboot system for all settings to take effect.'%}

{% set RHEL_91_Script_Installation = "sudo yum install https://repo.radeon.com/amdgpu-install/5.7/rhel/9.1/amdgpu-install-5.7.50700-1.el9.noarch.rpm 
sudo amdgpu-install --usecase=graphics,rocm"%}

{% set RHEL_88_Package_Installation = 'wget https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm 
sudo rpm -ivh epel-release-latest-8.noarch.rpm 
sudo crb enable 
sudo yum install kernel-headers kernel-devel 
# See prerequisites. Adding current user to Video and Render groups 
sudo usermod -a -G render,video $LOGNAME 
sudo yum install https://repo.radeon.com/amdgpu-install/latest/rhel/8.8/amdgpu-install-5.7.50700-1.el8.noarch.rpm 
sudo yum clean all 
sudo yum install amdgpu-dkms 
sudo yum install rocm-hip-libraries 
echo Please reboot system for all settings to take effect.'%}

{% set RHEL_88_Script_Installation = "sudo yum install https://repo.radeon.com/amdgpu-install/5.7/rhel/8.8/amdgpu-install-5.7.50700-1.el8.noarch.rpm 
sudo amdgpu-install --usecase=graphics,rocm"%}

{% set RHEL_87_Package_Installation = 'wget https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm 
sudo rpm -ivh epel-release-latest-8.noarch.rpm 
sudo crb enable 
sudo yum install kernel-headers kernel-devel 
# See prerequisites. Adding current user to Video and Render groups 
sudo usermod -a -G render,video $LOGNAME 
sudo yum install https://repo.radeon.com/amdgpu-install/latest/rhel/8.7/amdgpu-install-5.7.50700-1.el8.noarch.rpm 
sudo yum clean all 
sudo yum install amdgpu-dkms 
sudo yum install rocm-hip-libraries 
echo Please reboot system for all settings to take effect.'%}

{% set RHEL_87_Script_Installation = "sudo yum install https://repo.radeon.com/amdgpu-install/5.7/rhel/8.7/amdgpu-install-5.7.50700-1.el8.noarch.rpm 
sudo amdgpu-install --usecase=graphics,rocm"%}


{% set SUSE_155_Package_Installation = 'wget https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm 
sudo rpm -ivh epel-release-latest-8.noarch.rpm 
sudo crb enable 
sudo yum install kernel-headers kernel-devel 
# See prerequisites. Adding current user to Video and Render groups 
sudo usermod -a -G render,video $LOGNAME 
sudo yum install https://repo.radeon.com/amdgpu-install/latest/rhel/8.7/amdgpu-install-5.7.50700-1.el8.noarch.rpm 
sudo yum clean all 
sudo yum install amdgpu-dkms 
sudo yum install rocm-hip-libraries 
echo Please reboot system for all settings to take effect.'%}

{% set SUSE_155_Script_Installation = "sudo zypper --no-gpg-checks install https://repo.radeon.com/amdgpu-install/5.7/sle/15.5/amdgpu-install-5.7.50700-1.noarch.rpm 
sudo amdgpu-install --usecase=graphics,rocm"%}

{% set SUSE_154_Package_Installation = 'sudo zypper addrepo https://download.opensuse.org/repositories/devel:languages:perl/SLE_15_SP4/devel:languages:perl.repo 
sudo zypper install kernel-default-devel 
# See prerequisites. Adding current user to Video and Render groups 
sudo usermod -a -G render,video $LOGNAME 
sudo zypper --no-gpg-checks install https://repo.radeon.com/amdgpu-install/latest/sle/15.4/amdgpu-install-5.7.50700-1.noarch.rpm 
sudo zypper refresh 
sudo zypper install amdgpu-dkms 
sudo zypper install rocm-hip-libraries 
echo Please reboot system for all settings to take effect.'%}

{% set SUSE_154_Script_Installation = "sudo zypper --no-gpg-checks install https://repo.radeon.com/amdgpu-install/5.7/sle/15.4/amdgpu-install-5.7.50700-1.noarch.rpm 
sudo amdgpu-install --usecase=graphics,rocm"%}