{%- import "tutorial/installation_commands.jinja" as commands %}
{%- set supported_family = ([
    {
        "tag": "instinct",
        "name": "Instinct",
        "amdgpu_version": "5.7",
        "amdgpu_install_version": "5.7.50700-1",
    }, 
    {
        "tag": "radeon",
        "name": "Radeon",
        "amdgpu_version": "23.20",
        "amdgpu_install_version": "5.7.50700-1",
    }
]) -%}

{%- set supported_os = ([
    {
        "tag": "ubuntu",
        "name": "Ubuntu",
        "shortname" : "Ubuntu",
        "version": [
            {
                "number": "22.04",
                "release": "jammy",
                "package": commands.Ubuntu_2204_Package_Installation,
                "script": commands.Ubuntu_2204_Script_Installation
            },
            {
                "number": "20.04",
                "release": "focal",
                "package": commands.Ubuntu_2004_Package_Installation,
                "script": commands.Ubuntu_2004_Script_Installation
            }
        ]
    },
    {
        "tag": "rhel",
        "name": "Red Hat Enterprise Linux",
        "shortname" : "RHEL",
        "version": [
            {
                "number": "9.2",
                "release": "rhel9",
                "package": commands.RHEL_92_Package_Installation,
                "script": commands.RHEL_92_Script_Installation
                
            },
            {
                "number": "9.1",
                "release": "rhel9",
                "package": commands.RHEL_91_Package_Installation,
                "script": commands.RHEL_91_Script_Installation
            },
            {
                "number": "8.8",
                "release": "rhel8",
                "package": commands.RHEL_88_Package_Installation,
                "script": commands.RHEL_88_Script_Installation
            },
            {
                "number": "8.7",
                "release": "rhel8",
                "package": commands.RHEL_87_Package_Installation,
                "script": commands.RHEL_87_Script_Installation
            },
        ]
    },
    {
        "tag": "sle",
        "name": "SUSE Linux Enterprise Server",
        "shortname" : "SLES",
        "version": [
            {
                "number": "15.5",
                "package": commands.SUSE_155_Package_Installation,
                "script": commands.SUSE_155_Script_Installation
            },
            {
                "number": "15.4",
                "package": commands.SUSE_154_Package_Installation,
                "script": commands.SUSE_154_Script_Installation
            }
        ]
    }
]) -%}

{# Outermost Tabs Level 1 #}
{% macro render_supported_gpu_family(supported_family) %}
::::::::::::{tab-set}

{% for family in supported_family %}

:::::::::::{tab-item} {{family.name}}
:sync: {{family.tag}}
{{caller(family)}}
:::::::::::

{% endfor %}
::::::::::::

{% endmacro %}


{# Tabs Level 2 #}
{% macro render_supported_os(supported_os)%}
::::::::::{tab-set}

{% for os in supported_os %}

:::::::::{tab-item} {{os.name}}
:sync: {{os.tag}}

{{caller(os)}}
:::::::::

{% endfor %}
::::::::::

{% endmacro %}

{# Tabs Level 3 #}
{% macro render_os_versions(versions) %}
::::::::{tab-set}

{% for version in versions %}
:::::::{tab-item} {{version.number}}
{{ caller(version.package, version.script) }}
:::::::
{% endfor %}
::::::::
{% endmacro %}

{# Tabs Level 4 #}
{% macro render_package_script(package, script) %}
::::::{tab-set}

:::::{tab-item} Installation via Package Manager
```shell
{{package}}
```
:::::

:::::{tab-item} Installation via AMDGPU Script
```shell
{{script}}
```
:::::
::::::
{{caller()}}
{% endmacro %}













{%- macro for_family_in(supported_family) %}
::::::::{tab-set}
{%- for family in supported_family %}
:::::::{tab-item} {{ family.name }}
:sync: {{ family.tag }}
{{ caller(family) }}

:::::::
{%- endfor %}
::::::::
{%- endmacro -%} 

{%- macro for_os_in(supported_os) %}
::::::{tab-set}
{%- for os in supported_os %}
:::::{tab-item} {{ os.name }}
:sync: {{ os.tag }}
{{ caller(os) }}

:::::
{%- endfor %}
::::::
{%- endmacro -%}

{%- macro for_version_in(os) %}
::::{tab-set}
{%- for version in os.version %}
:::{tab-item} {{ os.shortname }} {{ version.number }}
:sync: {{ os.tag }}-{{ version.number }}
{{ caller(version) }}

:::
{%- endfor %}
::::
{%- endmacro -%}

{%- macro install(os, argument) %}
```shell
{%- if os.tag == "ubuntu" %}
sudo apt install {{ argument }}
{%- elif os.tag == "rhel" %}
sudo yum install {{ argument }}
{%- elif os.tag == "sle" %}
sudo zypper install {{ argument }}
{%- endif %}
```
{%- endmacro -%}

{%- macro header_anchor(family, os) -%}
({{ caller() | lower | replace('#', '') | trim | replace(' ', '-')}}-{{ family.tag }}-{{ os.tag }})= {{ caller() }}
{%- endmacro -%} 