{%- import "tutorial/linux.template.jinja" as linux %}
<!-- markdownlint-disable no-duplicate-header blanks-around-headings no-multiple-blanks -->
# Quick Start (Linux)

{% call(family) linux.render_supported_gpu_family(linux.supported_family) %}    {# Opening Tabs Level 1 #}

{% if family.tag == "radeon" %}
See {doc}`Radeon Installation instructions <radeon:install/install-radeon>`
for those using the Radeon GPU with graphical applications.
    
{% elif family.tag == "instinct" %}

{% call(os) linux.render_supported_os(linux.supported_os) %}                    {# Opening Tabs Level 2 #}

{% call (package, script) linux.render_os_versions(os.version) %} {# Opening Tabs Level 3 #}

{% call linux.render_package_script(package, script) %}                         {# Opening Tabs Level 4 #}

{% endcall %}                                                                   {# Closing Tabs Level 4 #}

{% endcall %}                                                                   {# Closing Tabs Level 3 #}

{% endcall %}                                                                   {# Closing Tabs Level 2 #}

{% endif %}

{% endcall %}                                                                   {# Closing Tabs Level 1 #}
